<li *ngFor="let hero of heroes.slice().reverse()">
  {{ hero }}
</li>
<hr>

<p *ngIf="heroes.length > 4">{{heroes}}</p>
<hr>

<p>Raghu Angular</p>


<h3>Get Employee Details</h3>
<p>{{products}}</p>
<hr>
<button (click)="getUsers()" [disabled]="loading">
  {{ loading ? 'Loading...' : 'Get Users' }}
</button>
<p>{{output}}</p>

<div class="error">{{error}}</div>

<!-- <hr>
<button (click)="fireError()">
  Fire Error
</button>
<br>
<button (click)="fireErrorWithNet()">
  Fire Error With Net
</button> -->

